body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 36px;
    display: block;
    margin-bottom: 15px;
}

select {
    text-align: center;
}

header {
    margin-top: 15px;
    height: 60px;
    text-align: center;
    margin-bottom: 30px;
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    margin: 0 auto;
    display:block;
    width: 200px;
    
}

h2 {
    margin: 35px;
}

.filter  {
    position: relative;
    appearance: none; 
    outline: 0; 
    background: white; 
    background-image: none; 
    color: black; 
    border: 1px solid black; 
    border-radius: 2px; 
    

}

.filter:hover { 
    color: #F39C12; 
} 

button:hover { 
    color: #F39C12; 
} 

section {
    background-color: white;
    border-radius: 200px;
}

/* #photo-template {
    display: none;
} */